/* Header styles */
.site-header {
  background-color: white;
  box-shadow: var(--box-shadow);
  padding: var(--spacing-md) 0;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-branding {
  display: flex;
  align-items: center;
}

.site-logo {
  display: flex;
  align-items: center;
  padding: 8px 0; /* Add vertical padding to adjust position */
}

.site-logo img {
  vertical-align: middle; /* Ensures proper vertical alignment */
}