<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <a href="{{ '/' | relative_url }}" class="site-logo">
    <img
    src="{{ site.logo | relative_url }}"
    alt="Orzlab logo"
    height="48" />
  </a>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  {% seo %}
</head>
<body>
  {% include header.html %}
  
  <main class="main-content">
    {{ content }}
  </main>
  
  {% include footer.html %}
  <script src="{{ '/assets/js/course-navigation.js' | relative_url }}"></script>
</body>
</html>
